.tabs {
    background-color: #f0efe9;
}

.item {
    display: inline-flex;
}

.link {
    padding: 20px 60px;
    text-transform: uppercase;
    border-right: 2px solid #fff;
    text-decoration: none;
    color: rgba(#566358, 0.8);
}

.active-tab {
    background: #fff;
    color: $fresh;
}